@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*{
    border: solid 1px red;
}
*/
body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
    font-size: 100%;
    cursor: default;
}