@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*bootstrap-grid control*/
/*{
        border: solid 1px red;
    } 
    */

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color:#2b3785;
}
.navbar-custom-2 {
    background-color:#2b37859a;
}

.thumbnail:hover , .thumbnail:focus, .thumbnail:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
    border-bottom: black solid 1.5px;
    border: gray solid 1px;
    box-shadow: 1em 1em 1em -1em  rgba(0,0,0,0.75);
    animation-delay: 0.05s;
}

.thumbnail:not(:hover) {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.thumbnail:hover {
    cursor: pointer;
    animation-delay: 0.05s;
}

.icon {
    margin: 0;
    filter: saturate(0.2);
    opacity: 0.65;
    display: inline;
}

i{
    display:inline;
    margin: 0;
}

.thumbnail {
    width: 200px;
    height: 200px;
    align-self: center;
    overflow: hidden;
}
