@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*bootstrap-grid control*/
/*{
        border: solid 1px red;
    } 
    */

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth!important;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.odkaz {
    font-weight: 700;
    text-decoration: none!important;
}

.odkaz:not(:hover) {
    opacity: 0.7;
    transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
    animation-delay: 0.025s;
}

.odkaz:hover {
    opacity: 1;
    cursor: pointer;
    transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
    animation-delay: 0.025s;
}

.navbar-custom {
    background-color:#021381;
}

.btn {
    margin-right: 2em;
}

.thumbnail:hover , .thumbnail:focus, .thumbnail:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
    border-bottom: black solid 1.5px;
    border: gray solid 1px;
    box-shadow: 1em 1em 1em -1em  rgba(0,0,0,0.75);
    animation-delay: 0.05s;
}

.thumbnail:not(:hover) {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.thumbnail:hover {
    cursor: pointer;
    animation-delay: 0.05s;
}

.thumbnail{
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    display: cover;
    align-self: center;
    background-position: center;
    object-position:center;
   }

.thumbnail-left{
    object-position: -210px center;
}

.icon {
    margin: 0;
    filter: saturate(0.2);
    opacity: 0.65;
    display: inline;
    margin-top: -1.75em;
}

i{
    display:inline;
    margin: 0;
}


.text-custom {
    margin: none;
    padding: none;
}

.ml12 {
    margin-top: 1em;
    text-transform: uppercase!important;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    line-height: 1em;
  }
  
  .megabreak {
      margin-top: 50em;
      background-color: rgba(255, 255, 255, 0);
  }
  .somebackground {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgb(255, 255, 255, 0.5));
  }
