.toggle-nav{
	display: none;
}

@media screen and (min-width:1480px) {
	.container,
	.fp-section .container{
		max-width: 1300px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	.slider-section .slide-caption{
		left: 50%;
        margin-left: -650px;
	}
    .sl-blog-post-wrap{
        width: 23%;
    }
    .sl-blog-post-wrap:nth-child(4n) + .sl-blog-post-wrap{
    clear: both;
    }
    .sl-blog-post-wrap:nth-child(3n) + .sl-blog-post-wrap{
        clear: none;
    }
}

@media screen and (max-width:1300px) {
	.main-navigation a{
		padding: 0 15px;
	}
}

@media screen and (max-width:1100px) {
	.main-navigation a{
		padding: 0 8px;
	}
}

@media screen and (max-width:1000px) {
	.panel-grid-cell{
		min-height: 0
	}
	.site-footer{
		top: 0;
		height: auto;
		overflow-y:scroll; 
		z-index: 999;
	}

	.main-navigation{
		float: none;
	}

	.main-navigation > ul > li{
		float: none;
	}

	.main-navigation ul ul{
		position: static;
		display: block;
		width: auto;
		background: none;
		margin-left: 10px;
	}

	.toogle-wrap{
		float: none;
	}

	#toggle{
		margin: 0 auto 40px;
	}

	.toggle-nav{
		display: block;
	}

	.toggle-nav{
		float: right;
		width: 40px;
		height: 40px;
		margin-top: 10px;
		cursor: pointer;
		margin-left: 30px;
	}

	.toggle-nav span{
		background: #df2c45;
		height: 3px;
		width: 100%;
		display: block;
		box-shadow: 0 10px 0px 0px #df2c45, 0 -10px 0px 0px #df2c45;
		margin-top: 20px;
	}

	.page-template-tpl-home #toggle{
		background: none;
		margin-top: 6px;
		box-shadow: none;
	}

	body .site-footer #toggle .one {
	    -ms-transform: rotate(45deg) translate(3px, -7px);
	    -webkit-transform: rotate(45deg) translate(3px, -7px);
	    transform: rotate(45deg) translate(3px, -7px);
	    -ms-transform-origin: 0 0;
	    -webkit-transform: 0 0;
	    transform-origin: 0 0;
	}

	body .site-footer #toggle .two {
	    opacity: 0;
	}

	body .site-footer #toggle .three {
	    -ms-transform: rotate(-45deg) translate(3px, 5px);
	    -webkit-transform: rotate(-45deg) translate(3px, 5px);
	    transform: rotate(-45deg) translate(3px, 5px);
	    -ms-transform-origin: 0 0;
	    -webkit-transform: 0 0;
	    transform-origin: 0 0;
	}

	.site-footer{		
	    -ms-transform: translateY(100%) !important;
	    -webkit-transform: translateY(100%) !important;
	    transform: translateY(100%) !important;
	    transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -webkit-transition: all 0.4s ease-in-out;
	}

	.site-footer.scroll-show{
		-ms-transform: translateY(0) !important;
	    -webkit-transform: translateY(0) !important;
	    transform: translateY(0) !important;
	}

}

@media screen and (max-width: 768px){
	.page-template-tpl-home .header-wrapper{
		opacity: 1;
		visibility: visible;
	}

	#toggle{
		pointer-events: auto;
	}

	.fp-section .container,
	.container{
		padding: 0 15px;
	}

	.fp-section{
		height: auto !important;
	}

	.fp-controlArrow.fp-next, 
	.fp-controlArrow.fp-prev{
		display: none !important;
	}

	.fp-slidesContainer{
		width: auto !important;
		float: none;
		height: auto !important;
	}

	.fp-section, 
	.fp-slide{
		display: block;
		width: auto !important;
		float: none;
		padding: 30px 0;
	}

	.fp-slide.slider-section{
		padding: 0;
	}

	.s-panel-inner{
		overflow: visible;
	}

	.slider-section .slide-caption{
		width: 90%;
		left: 5%;
		margin-bottom: 65px;
	}

	#primary,
	#secondary{
		width: auto;
		float: none !important;
	}

	#primary{
		margin-bottom: 30px;
	}

	.service-tab{
		display: block;
		margin: 0 0 15px;
		max-width: none;
	}

	.service-tab:after{
		display: none;
	}

	.service-content-wrap{
		padding: 30px;
	}

	.sl-blog-mas-grid{
		margin-left: 0;
	}

	.sl-blog-post-wrap{
		width: auto;
		float: none;
		margin-left: 0;
	}

	.client-slider .client-sub{
		width: 33.33%
	}
    
    .slide-title{
        font-size: 30px;
    }
    
    .slide-desc{
        /*font-size: 15px;*/
        display: none;
    }
}

@media screen and (max-width:580px) {
	.social-icons{
		display: none;
	}

	.site-branding{
		max-width: 240px;
	}

	#primary,
	#secondary .widget,
	.blog .hentry, .archive .hentry{
		padding: 15px;
	}

	.entry-header,
	.navigation.post-navigation{
		margin: 0 -15px;
	}

	.entry-header{
		border-left: 10px solid #df2c45;
	}

	.fp-section .container, 
	.container{
		padding: 0 10px;
	}

	.navigation.post-navigation .nav-title{
		z-index: 999;
	}

	.entry-link{
		margin-left: -15px;
	}

	.client-slider .client-sub{
		width: 50%
	}

	.slide-title{
		border-bottom: 0;
		margin: 0;
		padding: 0;
	}

	.service-tab{
		padding: 10px;
		text-align: left;
		margin-bottom: 10px;
	}

	.service-tab img{
		width: 30px;
		margin-right: 10px;
	}

	.service-tab h3{
		display: inline-block;
		margin-top: 0;
	}

	.service-content-wrap{
		padding: 10px;
	}

	.sec-slide .mCSB_draggerContainer{
		display: none;
	}

	.client-slider .client-sub{
		padding: 10px;
	}

	.client-sub-inner img{
		width: 100%;
		padding: 0;
	}

}

@media screen and (max-width:340px) {
	.site-branding{
		max-width: 220px;
	}
}