/*
* Collapse paragraph css
**/


h2 {
    cursor: pointer;
    text-decoration: underline;
}

h2.expanded svg {
    transform: rotate(180deg);
}

.accordion-body.collapsed {
    border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.accordion-body.expanded {
    border: inherit;
	height: auto;
	margin: auto;
	overflow: hidden;
	padding: inherit;
	position: static;
	width: auto;
}