 /** Other Additional Admin Styles **/
 .screenshot{
 	position: relative;
 }

 .screenshot img {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #c3c3c3;
    padding: 4px;
}
 .remove-image {
    border: 1px solid #a61818;
    padding: 4px 9px;
    border-radius: 50%;
    background: #be0808;
    color: #fff !important;
    position: absolute;
    right: -12px;
    bottom: -10px;
    cursor: pointer;
}