/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #6B6B6B;
	font-size: 14px;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	line-height: 1.7;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	color: #6B6B6B;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	color: #444;
	font-weight: normal;
	font-size: 32px;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1170px;
}

/* Headings */
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	margin: 0;
	padding: 0;
	color: #000;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper .h1 {
	font-size: 32px;
}

.editor-styles-wrapper h2,
.editor-styles-wrapper .h2 {
	font-size: 28px;
}

.editor-styles-wrapper h3,
.editor-styles-wrapper .h3 {
	font-size: 24px;
}

.editor-styles-wrapper h4,
.editor-styles-wrapper .h4 {
	font-size: 18px;
}

.editor-styles-wrapper h5,
.editor-styles-wrapper .h5 {
	font-size: 16px;
}

.editor-styles-wrapper h6,
.editor-styles-wrapper .h6 {
	font-size: 14px;
}

.editor-styles-wrapper p {
	margin: 0 0 30px;
}

.editor-styles-wrapper input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.editor-styles-wrapper input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.editor-styles-wrapper button::-moz-focus-inner,
.editor-styles-wrapper input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapperinput[type="password"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper textarea {
	color: #666;
	border: 1px solid #E8E8E8;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="url"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper textarea:focus {
	color: #111;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="url"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper input[type="search"] {
	padding: 3px;
}

.editor-styles-wrapper textarea {
	overflow: auto;
	padding-left: 3px;
	vertical-align: top;
	width: 100%;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-quote,
.editor-styles-wrapper .wp-block-quote.is-style-large,
.editor-styles-wrapper .wp-block-quote.has-text-align-right {
	border: 2px dashed;
	outline: 10px solid;
	padding: 0px 20px;
	margin: 30px 0;
}

.editor-styles-wrapper blockquote,
.editor-styles-wrapper blockquote a:hover,
.editor-styles-wrapper blockquote a:focus,
.editor-styles-wrapper .entry-content blockquote a:hover,
.editor-styles-wrapper .entry-content blockquote a:focus,
.editor-styles-wrapper .wp-calendar td.has-posts a {
	color: #ffffff;
	background-color: #2EBDFF;
}

.editor-styles-wrapper html input[type="button"],
.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	border: 0 none;
	color: #fff;
	padding: 5px 12px;
	transition: background-color 0.3s linear;
}

.editor-styles-wrapper html input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper input[type="submit"]:hover {
	background-color: #363636;
	transition: background-color 0.3s linear;
}

/* Alignment */

.editor-styles-wrapper .alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.editor-styles-wrapper .alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.editor-styles-wrapper .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* Make sure embeds and iframes fit their containers */
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
	max-width: 100%;
}

/* Links */
.editor-styles-wrapper a {
	color: #428bca;
	text-decoration: none;
}

.editor-styles-wrapper a:hover,
.editor-styles-wrapper a:focus {
	color: #2a6496;
	text-decoration: none;
}

.editor-styles-wrapper a:focus {
	outline: thin dotted;
	outline-offset: -2px;
}

.editor-styles-wrapper .wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 24px;
	max-width: 100%;
	margin-right: 20px;
	margin-top: 20px;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"] {
	display: block;
	width: 100%;
}

.editor-styles-wrapper .wp-caption-text {
	text-align: center;
}
